hr.thick-3
{
    height:3px;
    border:none;
    color:#5e5e5e;
    background-color:#8c8c8c;
}

no-padding
{
    padding: 0 !important;
}
.food_unit
{
    font-weight: bolder;
    font-size: larger;
}
.required
{
    font-weight: bolder;
    color: red;
}
.image-small
{
    width: 200px;
}